@model Farkle.Views.Home.LeaderBoardModel
@{
    ViewData["Title"] = "Leader Board";
}
<div class="text-center">
<h3 class="display-4">Under Construction - Leader Board</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>10</td>
                <td>myspace</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>12</td>
                
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>12</td>
                <td>lobster</td>
            </tr>
        </tbody>
    </table>
</div>